/* opdracht hamburger transitie 7 jan maarten */
:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transform: rotate(0deg);
    transition: ease-in-out .5s;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
    left: 0;
}

#menu::before {
    top: -20px;
    transform: rotate(0deg);
    transition: ease-in-out .5s;
}

#menu::after {
    top: 20px;
    transform: rotate(0deg);
    transition: ease-in-out .5s;
}

#container {
    border: 1px solid transparent;
    width: var(--menu-bar-width);
    padding: 20px 0;
}

#container:hover #menu::before {
    transform: rotate(45deg);
    transition: ease-in-out .5s;
    top: 0px;
}

#container:hover #menu::after {
    transform: rotate(-45deg);
    transition: ease-in-out .5s;
    top: 0px;
}

#container:hover #menu {
    background-color: transparent;
    transition: ease-in-out .5s;
}
